/* Bootstrap Overriden */
header{overflow: auto;padding-left: 10px}
section{background-color:#fcfcfc; padding: 10px}
footer{height: 30px;}
.bg-primary{background: linear-gradient(45deg, #337ab7, #52b5ff)}
.container{width:100%;}
.form-control{padding: 5px}

/* Flex CSS */
.flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

/* Custom General CSS */
.text-shadow-white{color: #ff1616;text-shadow: 0px 0px 3px white;}
footer>div{line-height: 30px;}

/* Custom CSS */
.section-center{background-color: #fff;max-width:980px;margin: auto;padding: 10px;}
.btn-row{margin: 5px 0px;}
.btn-row .add-btn, .btn-row .rmv-btn-cross{display: none;}
.btn-row:first-child .rmv-btn, .btn-row:last-child .rmv-btn{display: none;}
.btn-row:last-child .add-btn, .btn-row:last-child .rmv-btn-cross{display: inline-block;}
.btn-row:first-child .rmv-btn-cross{display: none;}
.subclass-box{box-shadow: 1px 1px 3px grey}
.sublass-detail-row{width: 250px;margin: 10px}
